
  <!-- Carousel Start -->
  <div class="home container-fluid p-0 mb-5">
    <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            style="height: 550px"
            class="w-100"
            src="/images/carousel-1.png"
            alt="Image"
          />
          <div class="carousel-caption">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-7 pt-5">
                  <h1 class="display-4 text-white mb-4 animated slideInDown">
                    Indoor Air Quality Assesment
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img
            style="height: 550px"
            class="w-100"
            src="/images/carousel-2.jpeg"
            alt="Image"
          />
          <div class="carousel-caption">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-7 pt-5">
                  <h1 class="display-4 text-white mb-4 animated slideInDown">
                    Robotic Air Duct Cleaning Experts
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img
            style="height: 550px"
            class="w-100"
            src="/images/carousel-3.jpg"
            alt="Image"
          />
          <div class="carousel-caption">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-7 pt-5">
                  <h1 class="display-4 text-white mb-4 animated slideInDown">
                    Kitchen Exhaust Cleaning
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img
            style="height: 550px"
            class="w-100"
            src="/images/carousel-4.jpg"
            alt="Image"
          />
          <div class="carousel-caption">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-7 pt-5">
                  <h1 class="display-4 text-white mb-4 animated slideInDown">
                    Decontamination & Prevention Services
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#header-carousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#header-carousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <section class="section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 pt-5 col-md-12">
            <div class="row justy-content-center">
              <div class="col-lg-5 col-sm-5 col-md-5 mb-5">
                <div
                  class="text-center about-block shadow wow zoomIn"
                  data-wow-delay="0.2s"
                >
                  <div class="img-icon mb-4">
                    <i><img src="/images/icon/thumb-up.svg" alt="" /></i>
                  </div>
                  <h4 class="mb-2">The right advice</h4>
                  <p>
                    Yes be Yes and No be No. With our experience &amp; expertise,
                    we help our clients in taking Right Steps.
                  </p>
                </div>
              </div>
              <div class="col-lg-2"></div>
              <div class="col-lg-5 col-sm-5 col-md-5 mb-5">
                <div
                  class="text-center about-block shadow wow zoomIn"
                  data-wow-delay="0.2s"
                >
                  <div class="img-icon mb-4">
                    <i><img src="/images/icon/cup.svg" alt="" /></i>
                  </div>
                  <h4 class="mb-2">Recognised for excellence</h4>
                  <p>
                    Our client satisfaction index speaks volumes about our
                    services.
                  </p>
                </div>
              </div>
  
              <div class="col-lg-5 col-sm-5 col-md-5 mb-5">
                <div
                  class="text-center about-block shadow wow zoomIn"
                  data-wow-delay="0.2s"
                >
                  <div class="img-icon mb-4">
                    <i><img src="/images/icon/wallet.svg" alt="" /></i>
                  </div>
                  <h4 class="mb-2">Compare the best</h4>
                  <p>
                    We only compare market leaders with a reputation for service
                    quality.
                  </p>
                </div>
              </div>
              <div class="col-lg-2"></div>
              <div class="col-lg-5 col-sm-5 col-md-5 mb-5">
                <div
                  class="text-center about-block shadow wow zoomIn"
                  data-wow-delay="0.2s"
                >
                  <div class="img-icon mb-4">
                    <i><img src="/images/icon/dashboard.svg" alt="" /></i>
                  </div>
                  <h4 class="mb-2">Premium Services</h4>
                  <p>
                    We customized our services based on the client's requirement.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section bg-secondary-subtle">
      <div class="container">
        <div class="row justify-content-center mb-4">
          <div class="col-md-8 col-lg-6 text-center">
            <div class="section-heading wow fadeInUp" data-wow-delay="0.1s">
              <h2 class="section-title">CORE VALUES</h2>
              <p>
                Core Values: We have built our company strong based on these
                guiding principles
              </p>
            </div>
          </div>
        </div>
  
        <div class="row justify-content-center">
          <div class="col-lg-3 col-sm-6 col-md-6 mb-3">
            <div class="process-block wow zoomIn" data-wow-delay="0.1s">
              <img src="/images/process/process-1.jpg" alt="" class="img-fluid" />
  
              <h3 class="highlight">Quality</h3>
              <p>
                It’s in everything we do. Our unwavering commitment to excellence
                means that quality is one of the core values in all our project
                execution.
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-md-6 mb-3">
            <div class="process-block wow zoomIn" data-wow-delay="0.1s">
              <img src="/images/process/process-2.jpg" alt="" class="img-fluid" />
  
              <h3 class="highlight">Integrity</h3>
              <p>
                To honor our commitment and act with responsibility in all our
                relationships.
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-md-6 mb-3">
            <div class="process-block wow zoomIn" data-wow-delay="0.1s">
              <img src="/images/process/process-3.jpg" alt="" class="img-fluid" />
  
              <h3 class="highlight">Innovation</h3>
              <p>
                It’s the heart of what we do. We believe it is the continuous
                process of applying new ideas, thoughts &amp; methods to solve
                complex problems.
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-md-6 mb-3">
            <div class="process-block wow zoomIn" data-wow-delay="0.1s">
              <img src="/images/process/process-2.jpg" alt="" class="img-fluid" />
  
              <h3 class="highlight">Safety</h3>
              <p>
                We strongly believe Safety is of paramount and shall not be
                compromised in any way.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section" id="services-2">
      <div class="container position-relative">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-6 text-center">
            <div class="section-heading wow fadeInUp" data-wow-delay="0.1s">
              <h2 class="section-title mb-2 text-white">Services</h2>
  
              <p class="mb-5 text-white">
                We offer services that help in promoting the true value of IAQ at
                workplaces.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-sm-6 col-md-6 mb-3">
            <div class="web-service-block wow zoomIn" data-wow-delay="0.1s">
              <i><img src="/images/icon/light-bulb.svg" alt="" /></i>
              <h3>Robotic Duct Cleaning</h3>
              <p>The only complete Robotic Solution for Air Ducts.</p>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-md-6 mb-3">
            <div class="web-service-block wow zoomIn" data-wow-delay="0.1s">
              <i><img src="/images/icon/mobile.svg" alt="" /></i>
              <h3>Kitchen Duct Cleaning</h3>
              <p>
                Safeguard &amp; compliance your commercial kitchen against
                Workplace Hazards
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-md-6 mb-3">
            <div class="web-service-block wow zoomIn" data-wow-delay="0.1s">
              <i><img src="/images/icon/desktop.svg" alt="" /></i>
              <h3>Cobweb Cleaning</h3>
              <p>
                An economical &amp; effective way to get your Air Duct cleaned.
              </p>
            </div>
          </div>
  
          <div class="col-lg-4 col-sm-6 col-md-6 mb-3">
            <div class="web-service-block wow zoomIn" data-wow-delay="0.1s">
              <i><img src="/images/icon/announcement.svg" alt="" /></i>
              <h3>AHU maintenance</h3>
              <p>
                A Healthy Air Duct promotes Workplace Productivity, Creativity
                &amp; Wellbeing of Employees.
              </p>
            </div>
          </div>
  
          <div class="col-lg-4 col-sm-6 col-md-6 mb-3">
            <div class="web-service-block wow zoomIn" data-wow-delay="0.1s">
              <i><img src="/images/icon/layers-alt.svg" alt="" /></i>
              <h3>Decontamination &amp; Prevention Services</h3>
              <p>A one-stop solution for your complete office disinfection.</p>
            </div>
          </div>
  
          <div class="col-lg-4 col-sm-6 col-md-6 mb-3">
            <div class="web-service-block wow zoomIn" data-wow-delay="0.1s">
              <i><img src="/images/icon/settings.svg" alt="" /></i>
              <h3>HVAC Contractors</h3>
              <p>
                We're engaged in offering installation, maintaining, and repairing
                of HVAC equipment.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section" id="section-testimonial">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4 col-sm-12 col-md-12">
            <div
              class="section-heading testimonial-heading wow fadeInUp"
              data-wow-delay="0.1s"
            >
              <h1>What they say <br />about us</h1>
              <p>
                I think it’s very important to have a feedback loop, where you’re
                constantly thinking about what you’ve done and how you could be
                doing it better - <b>Elon Musk</b>
              </p>
            </div>
          </div>
          <div class="col-lg-8 col-sm-12 col-md-12">
            <div class="row">
              <div class="col-lg-6">
                <div class="test-inner shadow wow fadeInUp" data-wow-delay="0.1s">
                  <div class="test-author-thumb d-flex">
                    <img
                      src="/images/client/test-2.jpg"
                      alt="Testimonial author"
                      class="img-fluid"
                    />
                    <div class="test-author-info">
                      <h4>Balraj</h4>
                      <h6>STULZ-CHSPL India (P) Ltd</h6>
                    </div>
                  </div>
  
                  They are one of the best HVAC vendors we have been working with.
                  We are pleased with their Professionalism, Quality &amp;
                  Turnaround time of work.
  
                  <i class="fa fa-quote-right"></i>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="test-inner shadow wow fadeInUp" data-wow-delay="0.1s">
                  <div class="test-author-thumb d-flex">
                    <img
                      src="/images/client/test-4.jpg"
                      alt="Testimonial author"
                      class="img-fluid"
                    />
                    <div class="test-author-info">
                      <h4>Sourab</h4>
                      <h6>STEMZ Healthcare</h6>
                    </div>
                  </div>
  
                  Though they have worked for a small job, they did the job
                  exceptionally well. This company is our preferred choice in
                  Hyderabad.
  
                  <i class="fa fa-quote-right"></i>
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col-lg-6">
                <div class="test-inner shadow wow fadeInUp" data-wow-delay="0.1s">
                  <div class="test-author-thumb d-flex">
                    <img
                      src="/images/client/test-3.jpg"
                      alt="Testimonial author"
                      class="img-fluid"
                    />
                    <div class="test-author-info">
                      <h4>Venkat</h4>
                      <h6>ALPLA India Private Ltd</h6>
                    </div>
                  </div>
  
                  We all were concerned about how VCT will execute the
                  project as the plant was in full functional but, to our
                  satisfaction the project was completed on time &amp; the end
                  result is more than what we have expected. They have got AMC on
                  a yearly basis. Good luck!
  
                  <i class="fa fa-quote-right"></i>
                </div>
              </div>
  
              <div class="col-lg-6">
                <div class="test-inner shadow wow fadeInUp" data-wow-delay="0.1s">
                  <div class="test-author-thumb d-flex">
                    <img
                      src="/images/client/test-6.jpg"
                      alt="Testimonial author"
                      class="img-fluid"
                    />
                    <div class="test-author-info">
                      <h4>Sreekanth Reddy</h4>
                      <h6>Suvidha Engineers India Pvt. Ltd</h6>
                    </div>
                  </div>
  
                  We have worked with them in completion of one of our major
                  residential gated community project here in Hyderabad. They were
                  diligent &amp; have rendered the much needed support in
                  completion &amp; success of the project. It’s been great working
                  with you guys &amp; look forward to working with you.
  
                  <i class="fa fa-quote-right"></i>
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col-lg-6">
                <div class="test-inner shadow wow fadeInUp" data-wow-delay="0.1s">
                  <div class="test-author-thumb d-flex">
                    <img
                      src="/images/client/test-5.jpg"
                      alt="Testimonial author"
                      class="img-fluid"
                    />
                    <div class="test-author-info">
                      <h4>Chandra Reddy</h4>
                      <h6>IKEA</h6>
                    </div>
                  </div>
  
                  They have worked twice for us in kitchen remediation project.
                  They have good knowledge of the job &amp; have executed it in
                  adherence to our company policy. Keep up the good work &amp; all
                  the best.
  
                  <i class="fa fa-quote-right"></i>
                </div>
              </div>
  
              <div class="col-lg-6">
                <div class="test-inner shadow wow fadeInUp" data-wow-delay="0.1s">
                  <div class="test-author-thumb d-flex">
                    <img
                      src="/images/client/test-6.jpg"
                      alt="Testimonial author"
                      class="img-fluid"
                    />
                    <div class="test-author-info">
                      <h4>Harinath</h4>
                      <h6>Sterling and Wilson Private Ltd</h6>
                    </div>
                  </div>
  
                  They are preferred partners for Robotic Air Duct cleaning
                  projects and Tier 1 vendors for most of our HVAC projects. Their
                  employees are highly professional &amp; technically sound. We
                  wish them all the best in their future endeavours.
  
                  <i class="fa fa-quote-right"></i>
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col-lg-6">
                <div class="test-inner shadow wow fadeInUp" data-wow-delay="0.1s">
                  <div class="test-author-thumb d-flex">
                    <img
                      src="/images/client/test-5.jpg"
                      alt="Testimonial author"
                      class="img-fluid"
                    />
                    <div class="test-author-info">
                      <h4>Shiva prasad</h4>
                      <h6>Infasta Soft solutions</h6>
                    </div>
                  </div>
  
                  VCT stands tall for Quality, Work ethics &amp;
                  Professionalism in whatever job they do.They have become the
                  extended hand of our company.
  
                  <i class="fa fa-quote-right"></i>
                </div>
              </div>
  
              <div class="col-lg-6">
                <div class="test-inner shadow wow fadeInUp" data-wow-delay="0.1s">
                  <div class="test-author-thumb d-flex">
                    <img
                      src="/images/client/test-5.jpg"
                      alt="Testimonial author"
                      class="img-fluid"
                    />
                    <div class="test-author-info">
                      <h4>Sarvanan</h4>
                      <h6>TATA Advanced Systems Ltd</h6>
                    </div>
                  </div>
  
                  Thank you guys for being a great support in completion of the
                  duct extension work. It took 2 months (as per the plan) to
                  complete the project and with the kind of experience they have
                  made it look like an easy job.
  
                  <i class="fa fa-quote-right"></i>
                </div>
              </div>
            </div>
            <div class="row"></div>
          </div>
        </div>
      </div>
    </section>
    <section class="section" id="blog">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-6 text-center">
            <div class="section-heading wow fadeInUp" data-wow-delay="0.1s">
              <h2 class="section-title">Read our latest news</h2>
              <p>
                Our duty towards you is to share our experience we're reaching in
                our work path with you.
              </p>
            </div>
          </div>
        </div>
  
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6">
            <div class="blog-box wow zoomIn" data-wow-delay="0.1s">
              <div class="blog-img-box">
                <img
                  src="/images/blog/blog-1.jpg"
                  alt=""
                  class="img-fluid blog-img"
                />
              </div>
              <div class="single-blog">
                <div class="blog-content">
                  <h6>August 15th, 2020</h6>
                  <p>
                    We have coloured our company logo as the National Flag colour
                    to show our Solidarity &amp; pay Respect to the Nation. <br />
                    Happy 74th Independence Day!
                  </p>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-lg-4 col-md-6">
            <div class="blog-box wow zoomIn" data-wow-delay="0.1s">
              <div class="blog-img-box">
                <img
                  src="/images/blog/blog-2.jpg"
                  alt=""
                  class="img-fluid blog-img"
                />
              </div>
              <div class="single-blog">
                <div class="blog-content">
                  <h6>July 20th, 2020</h6>
                  <a href="#"> </a>
  
                  <p>
                    We are a leading professional Robotic Duct Cleaning and Duct
                    Disinfection Service providers. We provide duct inspection
                    images and videos(before and after cleaning). Get duct
                    cleaning from Experts for best IAQ (Indoor Air Quality).
                    Breathe Hygiene Air... #ductcleaning #roboticductcleaning
                    #COVID19 #Hyderabad
                  </p>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-lg-4 col-md-8">
            <div class="blog-box wow zoomIn" data-wow-delay="0.1s">
              <div class="blog-img-box">
                <img
                  src="/images/blog/blog-3.jpg"
                  alt=""
                  class="img-fluid blog-img"
                />
              </div>
              <div class="single-blog">
                <div class="blog-content">
                  <h6>June 17th, 2020</h6>
                  <a href="#"> </a>
                  <p>
                    Companies are making staff health priority, right from
                    changing the desk layouts, cutting the number of desks, Social
                    distancing at Cafes, In-house app &amp; integration of Aarogya
                    Setu app data. For Companies, staff wellbeing is the Top
                    Priority. We at VCT help Companies to be on Top
                    Protecting their Employees &amp; Workplaces with our
                    world-class solutions. Choose our Services today to make your
                    workplaces safe-to-work.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- Carousel End -->
  